@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(var(--jump-distance));
  }
  40% {
    transform: translateY(var(--fall-distance));
  }
  60% {
    transform: translateY(0);
  }
}

.container {
  display: flex;
  flex-direction: row;
}

.dot {
  background-color: var(--theme-color);
  aspect-ratio: 1 / 1;
  border-radius: 999px;
  animation: bounce var(--bounce-speed) ease-in-out infinite;

  animation-name: bounce;
  animation-duration: var(--total-animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

  animation-delay: calc(var(--i) * var(--bounce-speed));
}
