.text-editor {
  outline: none;
  box-sizing: border-box;
}

.text-editor ul {
  color: var(--color-grayscale-500);
  list-style-type: disc;
  padding-left: 20px;
}

.text-editor ol {
  color: var(--color-grayscale-500);
  list-style-type: decimal;
  padding-left: 20px;
}

.text-editor p {
  color: var(--color-grayscale-500);
}

.text-editor h1 {
  color: var(--color-grayscale-500);
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--color-grayscale-200);
}

.text-editor blockquote {
  color: var(--color-grayscale-500);
  border-left: 4px solid var(--color-grayscale-500);
  padding-left: 16px;
  margin: 4px 0;
}

.text-editor pre {
  background-color: var(--color-grayscale-200);
  padding: 16px 8px;
}

.text-editor a {
  color: var(--color-blue-500);
  text-decoration: underline;
}

.text-editor div.video-wrapper {
  width: fit-content;
}

.text-editor div.video-wrapper,
.text-editor img {
  padding: 2px;
  outline: 3px solid transparent;
  cursor: pointer;
}

.text-editor div.video-wrapper:hover,
.text-editor img:hover {
  outline: 1px solid var(--color-grayscale-400);
}

.text-editor div.video-wrapper.ProseMirror-selectednode,
.text-editor img.ProseMirror-selectednode {
  outline: 3px solid var(--color-primary-green-300);
}

.text-editor .video-wrapper iframe {
  pointer-events: none;
}

.text-editor a {
  text-decoration: none;
}
