.text-editor .local-video-outer-wrapper {
  height: 100%;
}

.text-editor .local-video-inner-wrapper {
  height: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
}

.text-editor video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}
