.text-editor .youtube-outer-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.text-editor .youtube-inner-wrapper {
  height: auto;
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
}

.text-editor iframe {
  height: 100%;
  width: 100%;
  border: 0;
}
