.text-viewer .image-outer-wrapper {
  width: 100%;
  flex-direction: row;
}

.text-viewer .image-inner-wrapper {
  max-width: 100%;
  display: inline-block;
}

.text-viewer img {
  display: block;
  max-width: 100%;
  height: auto;
}
